@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Text:ital@0;1&display=swap');

.frontPage-header {
  font-family: 'DM Serif Text', serif;
  font-weight: 900;
}

.background {
  background-image: url('/images/homepage-background-image.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
}

/* .navbar-background {
  background-image: url('/images/homepage-background-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
} */





