@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Text:ital@0;1&display=swap');

.frontPage-header {
  font-family: 'DM Serif Text', serif;
  font-weight: 900;
}

.background {
  background-image: url('/images/homepage-background-image.jpg');
  background-size: cover;
  background-position: center;
  /* min-height: 100vh; */
  /* padding-bottom: 1rem; */
}
.gallery-background {
  background-image: url('/images/homepage-background-image.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
}

.navbar-custom {
  padding: 0.5rem 1rem; 
}

.navbar-brand-custom {
  padding: 0; 
}

.navbar-link-custom {
  padding: 0.75rem 1rem;
}

.contact-container {
  padding: 2rem;
}

.map-container {
  height: 400px;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 2rem;
  color: #ffffff;
}

.contact-details {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.contact-section {
  padding: 1rem 2rem;
}

.service-icon {
  color: #4a90e2;
}

.service-card:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  
}
h1 {
  font-family: 'Playfair Display', serif;
}





